.managerContainer {
  color: white;
  background-image:url("/img/background35.jpg");
  position: absolute;
  display: inline-table;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;

  & .managerWrapper {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-areas: "sidebar main";
  }
}

.managerSidebar {
  grid-area: sidebar;
  margin: 32px 0px 0px 32px
}

.managerMain {
  grid-area: main;
  background-color: rgba(255, 255, 255, 0.80);
  border: 2px solid rgba(0, 158, 197, 0.8);
  border-radius: 25px;
  margin: 32px 32px 32px 32px;
}